---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
const { title = "NOBEs" } = Astro.props;
---


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="/logowhite.png" />
    <title>{title}</title>
  </head>

<body class="min-h-screen bg-white text-black antialiased">
  <div class="mx-auto max-w-6xl px-6">
    <slot />
    <Footer />
  </div>
</body>
</html>
